{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}
{% block friends %}
    {% for friend in user.friends %}
        <div class="row" style="margin-left: 0px">
            <div class="col-lg-1">
                <img src="{{ asset('images/no-img-user.png') }}" class="rounded-circle hvr-pulse-grow" width="40"
                     height="40">
            </div>
            <div class="col-lg-10 row" style="margin-left: 5px">
                <p style="margin-left: 10px; margin-top: 7px; color: white">{{ friend.firstname }} {{ friend.lastname }}</p>
                <span class="indicator text-primary d-none d-lg-block" style=" margin-left: auto;">
                      <i class="fa fa-fw fa-circle"></i>
                    </span>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="" style="margin-top: 20px;">
                <img class="card-img-top" src="{{ asset('images/cover.jpg') }}" alt="Card image cap">
                <div class="container bg-dark" style="height: 45px">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="btn-group col-lg-9" role="group">
                            <a href="#" class="btn bg-dark">About</a>
                            <a href="#" class="btn bg-dark">Friends</a>
                            <a href="#" class="btn bg-dark">Photos</a>
                            <a href="#" class="btn bg-dark">Archive</a>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button"
                                        class="btn bg-dark text-primary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    More
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#">Videos</a>
                                    <a class="dropdown-item" href="#">Videos</a>
                                    <a class="dropdown-item" href="#">Check-Ins</a>
                                    <a class="dropdown-item" href="#">Movies</a>
                                    <a class="dropdown-item" href="#">TV Shows</a>
                                    <a class="dropdown-item" href="#">Books</a>
                                    <a class="dropdown-item" href="#">Events</a>
                                    <a class="dropdown-item" href="#">Questions</a>
                                    <a class="dropdown-item" href="#">Reviews</a>
                                    <a class="dropdown-item" href="#">Instagram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-2" style="margin-top: -170px;">
                            <img class="profile-pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                        <div class="col-4" style="margin-top: -100px;">
                            <span class="indicator text-primary col-10" style=" margin-left: 10px; font-size: 25px"> Adnane Lamghari</span>
                        </div>
                        <div class="col-6" style="margin-top: -100px;">
                            <a href="#" style="margin-left:200px;" class="btn bg-dark profile-buttons"><i
                                        class="fa fa-forumbee "></i> Follow</a>
                            <a href="#" class="btn bg-dark profile-buttons"><i class="fa fa-weixin"></i> Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5"><br>
            <div class="card " style="margin-top: 1rem;">
                <div class="card-header">
                    <span class="fa fa-globe"></span> Intro
                </div>
                <div class="card-body">
                    <div class="text-center">
                        Eleve ingénieur à l'École Nationale Supérieure d'Informatique et d'Analyse des Systèmes (ENSIAS)
                    </div>
                    <hr>
                    <div class="row">
                        <span style="margin-left: 5px"><i
                                    class="fa fa-graduation-cap"></i> ENSIAS: Génie Logiciel</span>
                    </div>
                    <div class="row">
                        <span style="margin-left: 5px"><i class="fa fa-home"></i> Tangier, Morocco</span>
                    </div>
                </div>
            </div>
            <div class="card " style="margin-top: 1rem;">
                <div class="card-header">
                    <span class="fa fa-picture-o"></span> Photos
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                        <div class="col-4 no-padding-margin">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card " style="margin-top: 1rem;">
                <div class="card-header">
                    <span class="fa fa-users"></span> Friends
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                        <div class="col-4 no-padding-margin position-relative">
                            <img class="pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                            <span class="friend-name"> adnane lamghari</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7"><br>
            <div class="col-12" id="new_status" class="card">
                <ul class="col-12" id="post_header" role="navigation">
                    <li><a href="#"><span class="fa fa-pencil"></span> Update Status</a></li>
                    <li><a href="#"><span class="fa fa-picture-o"></span> Add Photos/Video</a></li>
                    <li><a href="#"><span class="fa fa-th"></span> Create Photo Album</a></li>
                </ul>
                <div class="col-12 row" id="post_content">
                    <div class="col-2">
                        <img alt="profile picture" src="{{ asset('images/no-img-user.png') }}" height="60px"
                             class="rounded-circle hvr-pulse-grow">
                    </div>
                    <form action="{{ path('profile') }}" method="post">
                        <div class="textarea_wrap col-10" style="padding-left: 0px"><textarea class="col-12"
                                                                                              name="form[content]"
                                                                                              placeholder="What's on your mind?"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-12 row" id="post_footer">
                    <ul class="navbar-nav col-7" style="display: inline-block;">
                        <li><a href="#"><span class="fa fa-camera"></span></a></li>
                        <li><a href="#"><span class="fa fa-user"></span></a></li>
                        <li><a href="#"><span class="fa fa-glass"></span></a></li>
                        <li><a href="#"><span class="fa fa-map-marker"></span></a></li>
                    </ul>
                    <div class="col-5">
                        <button class="btn btn-default"><span class="fa fa-cog"></span> Custom</button>
                        <button class="btn btn-primary">Post</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="facebook-box col-12 card ">
                <div class="content">
                    <div class="right-icon">
                        <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="row">
                        <div class="col-2 avatar">
                            <img src="{{ asset('images/no-img-user.png') }}" width="60px" alt="profile pic"
                                 class="rounded-circle hvr-pulse-grow"/>
                        </div>
                        <div class="col-10 name">
                            <h5><a href="http://khoipro.com" target="_blank">Adnane Lamghari</a></h5>
                            <span class="sub">10 October 2015 at 15:00</span>
                        </div>
                    </div>
                    <div class="row text" style="margin-top: 20px">
                        Spacebook is a social network, created by adnane lamghari within a test proposed by Appartoo for
                        an intership
                        opportunity, the website has become a personnal project for him, so he will not stop coding in
                        it, until finishing it.
                    </div>
                    <div class="row thumbnail">
                        <img src="{{ asset('images/background.svg') }}" alt="" class="img-fluid" style="width: 100%"/>
                    </div>
                    <div class="row action btn-group col-12">
                        <button href="#" class="btn col-4 bg-white"><span class="fa fa-thumbs-up"></span> Like</button>
                        <button href="#" class="btn col-4 bg-white"><span class="fa fa-comment"></span> Comment</button>
                        <button href="#" class="btn col-4 bg-white"><span class="fa fa-share"></span> Share</button>
                    </div>
                </div>
                <div class="footer ">
                    <a href="#">6 people</a> like this.
                    <div class="row">
                        <div class="col-1 small-avatar">
                            <img src="{{ asset('images/no-img-user.png') }}" width="32px" alt=""/>
                        </div>
                        <div class="col-10 write-comment">
                            <input type="text" placeholder="Write your comment...">
                        </div>
                    </div>
                </div>
            </div>
            {% for status in user.status %}
                <br>
                <div class="facebook-box col-12 card ">
                    <div class="content">
                        <div class="right-icon">
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <div class="row">
                            <div class="col-2 avatar">
                                <img src="{{ asset('images/no-img-user.png') }}" width="60px" alt="profile pic"
                                     class="rounded-circle hvr-pulse-grow"/>
                            </div>
                            <div class="col-10 name">
                                <h5><a href="http://khoipro.com"
                                       target="_blank">{{ user.firstname }} {{ user.lastname }}</a></h5>
                                <span class="sub">{{ status.date }}</span>
                            </div>
                        </div>
                        <div class="row text" style="margin-top: 20px">
                            {{ status.content }}
                        </div>
                        <div class="row thumbnail">
                            {% if status.image is not empty %}
                                <img src="http://placehold.it/600x350" alt="" class="img-fluid"/>
                            {% endif %}
                        </div>
                        <div class="row action btn-group col-12">
                            <button href="#" class="btn col-4 bg-white"><span class="fa fa-thumbs-up"></span> Like
                            </button>
                            <button href="#" class="btn col-4 bg-white"><span class="fa fa-comment"></span> Comment
                            </button>
                            <button href="#" class="btn col-4 bg-white"><span class="fa fa-share"></span> Share</button>
                        </div>
                    </div>
                    <div class="footer ">
                        <a href="#">6 people</a> like this.
                        <div class="row">
                            <div class="col-1 small-avatar">
                                <img src="{{ asset('images/no-img-user.png') }}" width="32px" alt=""/>
                            </div>
                            <div class="col-10 write-comment">
                                <input type="text" placeholder="Write your comment...">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        function h(e) {
            $(e).css({'height': '65px', 'overflow-y': 'hidden'}).height(e.scrollHeight - 30);
        }

        $('textarea').each(function () {
            h(this);
        }).on('input', function () {
            h(this);
        });
    </script>
{% endblock %}
