{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }}{% endblock %}
{% block friends %}
    {% for friend in app.user.friends %}
        <div class="row" style="margin-left: 0px">
            <div class="col-lg-1">
                <img src="{{ asset('images/no-img-user.png') }}" class="rounded-circle hvr-pulse-grow" width="40"
                     height="40">
            </div>
            <div class="col-lg-10 row" style="margin-left: 5px">
                <p style="margin-left: 10px; margin-top: 7px; color: white">{{ friend.firstname }} {{ friend.lastname }}</p>
                {% if friend.isOnline %}
                    <span class="indicator text-primary d-none d-lg-block" style=" margin-left: auto;">
                      <i class="fa fa-fw fa-circle"></i>
                    </span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="" style="margin-top: 20px;">
                <img class="card-img-top" src="{{ asset('images/cover.jpg') }}" alt="Card image cap">
                <div class="container bg-dark" style="height: 45px">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="btn-group col-lg-9" role="group">
                            <a href="#" class="btn bg-dark">About</a>
                            <a href="{{ path('friends') }}" class="btn bg-dark">Friends</a>
                            <a href="#" class="btn bg-dark">Photos</a>
                            <a href="#" class="btn bg-dark">Archive</a>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button"
                                        class="btn bg-dark text-primary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    More
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#">Videos</a>
                                    <a class="dropdown-item" href="#">Videos</a>
                                    <a class="dropdown-item" href="#">Check-Ins</a>
                                    <a class="dropdown-item" href="#">Movies</a>
                                    <a class="dropdown-item" href="#">TV Shows</a>
                                    <a class="dropdown-item" href="#">Books</a>
                                    <a class="dropdown-item" href="#">Events</a>
                                    <a class="dropdown-item" href="#">Questions</a>
                                    <a class="dropdown-item" href="#">Reviews</a>
                                    <a class="dropdown-item" href="#">Instagram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-2" style="margin-top: -170px;">
                            <img class="profile-pic" src="{{ asset('images/no-img-user.png') }}" alt="Card image cap">
                        </div>
                        <div class="col-4" style="margin-top: -100px;">
                            <span class="indicator text-primary col-10" style=" margin-left: 10px; font-size: 25px"> Adnane Lamghari</span>
                        </div>
                        <div class="col-6" style="margin-top: -100px;">
                            <a href="#" style="margin-left:200px;" class="btn bg-dark profile-buttons"><i
                                        class="fa fa-forumbee "></i> Edit Profile</a>
                            <a href="#" class="btn bg-dark profile-buttons"><i class="fa fa-weixin"></i> Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-9">
            <i class="fa fa-users"></i> Friends
        </div>
        <div class="col-3">
            <input class="form-control" type="text" placeholder="Search for your friends">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 panels" style="margin-top:10px">
            <table style="background-color: #e9ecef;" class="col-lg-12">
                <tr>
                    <td><img src="{{ asset('images/no-img-user.png') }}" class="rounded-circle hvr-pulse-grow"
                             width="80" height="80" style="margin: 12px;"></td>
                    <td>Adnane Lamghari
                        <p class="">Friend since: 3 years</p>
                        <hr>
                        <p class="font-khfif">Last activity: 23-09-2018 17:46 </p>
                    </td>
                </tr>
            </table>
            <div class="col-lg-12">
                <div class="row row-footer bg-dark">
                    <div class="col-lg-9 hvr-underline-from-center" style="padding-left: 0px;">
                        <a style="text-align: left;" id="button" href="/profile" title="Show profile"
                           class="icon-btn col-lg-12"><i class="fa fa-cog"></i> Show profile</a>
                    </div>
                    <div class="d-block col-lg-3 text-center">|
                        <button data-toggle="modal" title="Vérifier cet utilisateur" class="icon-btn"><i
                                    class="fa fa-check"></i></button>
                        <button data-toggle="modal" title="Supprimer cet utilisateur" class="icon-btn"><i
                                    class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 panels" style="margin-top:10px">
            <table style="background-color: #e9ecef;" class="col-lg-12">
                <tr>
                    <td><img src="{{ asset('images/no-img-user.png') }}" class="rounded-circle hvr-pulse-grow"
                             width="80" height="80" style="margin: 12px;"></td>
                    <td>Adnane Lamghari
                        <p class="">Friend since: 2 years</p>
                        <hr>
                        <p class="font-khfif">Last activity: 23-09-2018 17:46 </p>
                    </td>
                </tr>
            </table>
            <div class="col-lg-12">
                <div class="row row-footer bg-dark">
                    <div class="col-lg-9 hvr-underline-from-center" style="padding-left: 0px;">
                        <a style="text-align: left;" id="button" href="/profile" title="Show profile"
                           class="icon-btn col-lg-12"><i class="fa fa-cog"></i> Show profile</a>
                    </div>
                    <div class="d-block col-lg-3 text-center">|
                        <button data-toggle="modal" title="Vérifier cet utilisateur" class="icon-btn"><i
                                    class="fa fa-check"></i></button>
                        <button data-toggle="modal" title="Supprimer cet utilisateur" class="icon-btn"><i
                                    class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% for friend in user.friends %}
            <div class="col-lg-6 panels" style="margin-top:10px">
                <table style="background-color: #e9ecef;" class="col-lg-12">
                    <tr>
                        <td><img src="{{ asset('images/no-img-user.png') }}" class="rounded-circle hvr-pulse-grow"
                                 width="80" height="80" style="margin: 12px;"></td>
                        <td>{{ friend.firstname }} {{ friend.lastname }}
                            <p class="">Friend since: 3 years</p>
                            <hr>
                            <p class="font-khfif">Last activity: 23-09-2018 17:46 </p>
                        </td>
                    </tr>
                </table>
                <div class="col-lg-12">
                    <div class="row row-footer bg-dark">
                        <div class="col-lg-9 hvr-underline-from-center" style="padding-left: 0px;">
                            <a style="text-align: left;" id="button"
                               href="{{ path('remove-friend', {idUser: friend.id}) }}" title="Show profile"
                               class="icon-btn col-lg-12"><i class="fa fa-cog"></i> Show profile</a>
                        </div>
                        <div class="d-block col-lg-3 text-center">|
                            <button data-toggle="modal" title="Vérifier cet utilisateur" class="icon-btn"><i
                                        class="fa fa-check"></i></button>
                            <a data-toggle="modal" href="{{ path('remove-friend', {idUser: friend.id}) }}"
                               title="Supprimer cet utilisateur" class="icon-btn"><i
                                        class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br><br>
{% endblock %}
