<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/sb-admin.css') }}">
</head>
<body class="bg-dark">
{% block body %}{% endblock %}

<script src="{{ asset('build/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('build/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('build/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
</body>
</html>
